*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
#container{
    font-family: 'Righteous', cursive;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #c7cdd3;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: rgb(231, 221, 247);
    width: 100%;
    height: 70px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
}
#link-1{
    background-color:#05323f;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
   padding: 10px;
   font-weight: 500;

}
#logo {
    display: flex;
    align-items: center;
    margin-left: 70px;


}

#link-logo {
    font-size: 24px;
    font-weight: 500;
    
}

#nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-right: 50px;
    margin: 0;



}

.header-links {
    margin: 1px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.808);
    padding: 10px;

}

a {
    text-decoration: none;
    color: #000;
}
.card{
width: 130px;
height: 130px;
position: relative;
transform-style: preserve-3d;
transition: transform .7s;
}

.flip{
    transform: rotateY(180deg);
}


.card_front, .card_back{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.45) ;
    backface-visibility: hidden;
    
}

.card_front{
    transform: rotateY(180deg);
background-color: #101c2c;
}

.card_back{
    color: #101c2c;
    background-color: #05c3ff;
    font-size: 3rem;
    
}

#gameOver{
   color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75) ;
    font-size: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0px
}
#restart, #clearCards{
    padding: 20px;
    font-size: 20px;
    background-color: #05c3ff;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
}

#gameBoard{
 
max-width: 700px;
display: grid;
grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
gap:20px;

}

#clearCards{
    
    margin-left: 50px;
    background-color:#05323f;
    color: white;
    font-weight: 500;
    
}

#clearCards:hover{
    background-color:#064455;
    cursor: pointer;
    
    
}
button{
border: 0;
padding: 10px;
background-color: rgba(0, 0, 0, 0);

}
.icon{
    width: 75%;
}
@media(max-width:800px){
    .card{
width: 100px;
height: 100px;

}
.card_back{
    font-size: 2rem;
    
}
#clearCards{
    width: 100px;
    font-size: 18px;
    padding: 12px;
}

}
@media(max-width:670px){
    .card{
width: 70px;
height: 70px;

}
.card_back{
    font-size: 1.5rem;
    
}
#clearCards{
    width: 80px;
    font-size: 15px;
    padding: 10px;
    margin-left: 40px;
}
}

@media(max-width:500px){
    .card{
width: 50px;
height: 50px;

}
.card_back{
    font-size: 1rem;
    
}
#clearCards{
    width: 50px;
    font-size: 12px;
    padding: 8px;
    margin-left: 20px;
}
#gameBoard{
 
    max-width: 500px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    gap:10px;
    
    }
    .card_front, .card_back{
       
        border-radius: 10px;
        box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.45) ;
        
        
    }

}
@media(max-width:320px){
    .card{
width: 40px;
height: 40px;


}
.card_back{
    font-size: 0.8rem;
    
}
#clearCards{
    width: 35px;
    font-size: 9px;
    padding: 8px;
    margin-left: 10px;
}
#gameBoard{
 
    max-width: 500px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    gap:10px;
    
    }
    
}